*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial, sans-serif;

background:#f4f6f9;

padding:20px;

}


.member-form-box{

max-width:650px;

margin:auto;

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 30px rgba(0,0,0,.15);

}


.club-logo{

display:block;

width:90px;
height:90px;

object-fit:cover;

border-radius:50%;

margin:auto;

border:3px solid #b40000;

}


h1{

text-align:center;

color:#b40000;

margin-top:10px;

}


h2{

text-align:center;

margin:10px 0;

}


.form-info{

text-align:center;

background:#fff3cd;

padding:12px;

border-radius:8px;

margin:20px 0;

line-height:1.6;

}


label{

display:block;

font-weight:bold;

margin-top:18px;

margin-bottom:7px;

}


input,
select{

width:100%;

padding:14px;

border:1px solid #ccc;

border-radius:8px;

font-size:16px;

}


.photo-btn{

width:100%;

padding:15px;

border:2px dashed #b40000;

background:#fff5f5;

color:#900000;

font-size:16px;

font-weight:bold;

border-radius:8px;

cursor:pointer;

}


#photoName{

font-size:14px;

color:#666;

margin-top:7px;

word-break:break-word;

}


.preview-box{

text-align:center;

margin-top:15px;

}


#photoPreview{

width:120px;
height:120px;

object-fit:cover;

border-radius:50%;

border:3px solid #b40000;

}


.submit-btn{

width:100%;

margin-top:25px;

padding:16px;

background:#c40000;

color:white;

border:none;

border-radius:8px;

font-size:18px;

font-weight:bold;

cursor:pointer;

}


.submit-btn:disabled{

opacity:.6;

}


#requestMessage{

text-align:center;

font-weight:bold;

margin-top:15px;

}


@media(max-width:600px){

.member-form-box{

padding:20px 15px;

}

h1{

font-size:25px;

}

}
